<%
  name ||= "item"
  tabs ||= ["tab-1", "tab-2", "tab-3", "tab-4"]
  open_tab ||= tabs.first
  tab_class ||= "text-neutral-700 dark:text-neutral-300"
  panel_class ||= "bg-neutral-50 dark:bg-neutral-800"
%>

<div class="mb-4 border-b border-neutral-200 dark:border-neutral-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="<%= name %>-generator-tab" data-tabs-toggle="#<%= name %>-generator-content" role="tablist">
    <% tabs.each do |tab| %>
      <li class="me-2" role="presentation">
        <button class="<%=tab_class%> inline-block p-4 border-b-2 rounded-t-lg" id="<%=tab%>-tab" data-tabs-target="#<%=tab%>" type="button" role="tab" aria-controls="<%=tab%>" aria-selected="<%= open_tab == tab %>"><%= partial.send("#{tab.underscore}_header") %></button>
      </li>
    <% end %>
  </ul>
</div>

<div id="<%= name %>-generator-tab-content">
  <% tabs.each do |tab| %>
    <div class="<%= panel_class %> hidden p-8 rounded-lg space-y-2" id="<%= tab %>" role="tabpanel" aria-labelledby="<%= tab %>-tab">
      <%= partial.send("#{tab.underscore}") %>
    </div>
  <% end %>
</div>